
#navigation li{
    background-color:yellow;
    display:inline;
    padding:20px;
}

#first{
    background-color:blue;
    height: 230px;
    color: white;

}
.second{
    background-color:red;
    height:300px;
    color:white;

}
